html, body {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content-container {
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding-bottom: 45px;
}

#ace-container {
}

#markdown-container {
  overflow: auto;
}

#ace-container, #markdown-container {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
}