html, body {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.github-ribbon {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#content-container {
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding-bottom: 45px;
}

#ace-container {
}

#markdown-container {
  overflow: auto;
}

#ace-container, #markdown-container {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
}

#ace-container .cursor {
  display: none;
  margin-left: -1px;
  position: absolute;
  width: 2px;
}
