#content-container {
  margin: auto;
}

#ace-container {
}

#markdown-container {
  overflow: auto;
}

#ace-container, #markdown-container {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 600px;
  width: 50%;
}